.wrapper-table .ag-root-wrapper {
  border-top: none !important;
  border-radius: 0 !important;
}

.ag-root-wrapper {
  border-top: none !important;
  border-radius: 0 0 8px 8px !important;
}
.badge-blue {
  background-color: var(--mantine-color-blue-0);
  color: var(--mantine-color-blue-6);
  border: 1px solid var(--mantine-color-blue-2);
}
.badge-green {
  background-color: var(--mantine-color-green-0);
  color: var(--mantine-color-green-6);
  border: 1px solid var(--mantine-color-green-2);
}
.badge-purple {
  background-color: var(--mantine-color-purple-0);
  color: var(--mantine-color-purple-6);
  border: 1px solid var(--mantine-color-purple-2);
}
.badge-orange {
  background-color: var(--mantine-color-orange-0);
  color: var(--mantine-color-orange-6);
  border: 1px solid var(--mantine-color-orange-2);
}
.badge-transparent {
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--mantine-color-gray-3);
}
body {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-8)
  );
}
